/*Coded by Chris Martyniuk 4/25/2019--------------------------------------------------------------------*/

@import url(font-awesome.min.css);

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #000;
}


a {
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color: inherit;
}

#wrapper:before {
    content: '';
    display: block;
}

#wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
/*    padding-top: 4rem;*/
    padding-left: 0;
    padding-right: 0;
    z-index: 3;
}

.wrapper-full-width {
    width: 100%;
}

.logo {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border: solid 1px #ffffff;
    border-radius: 100%;
    
}

.icon {
    vertical-align: baseline;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

.icon:before {
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.content {
    border-left: 0px solid;
    border-right: 0px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ffffff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    max-width: 100%;
    transition: opacity 0.325s ease-in-out;
    position: relative;
    margin-top: 3.5rem;
}

.content:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-3.5rem - 1px);
    left: calc(50% - 1px);
    width: 1px;
    height: calc(3.5rem + 1px);
    background: #ffffff;
}

.content .inner {
    -moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
    -webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
    -ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
    transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    padding: 3rem 2rem;
    max-height: 40rem;
    overflow: hidden;
}

.inner .content-col {
    padding-left: 0;
    padding-right: 0;
}

.inner .skill-row {
    text-align: center;
}

.inner .skill-row ul {
    list-style: none;
}

.inner .skill-row ul li {
    color: #fff;
}

.inner .experience-row ul li {
    color: #fff;
}

.inner .skill-row .skill-col {
    border-right: solid 2px rgba(255, 255, 255, 0.125);
}

.inner .image-col {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.inner .image-col img {
    margin-top: 4rem;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    text-align: center;
}

h1, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

h3 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}


p {
    margin: 0 0 2rem 0;
}

.inner p {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    line-height: 2;
    color: #fff;
    text-align: center;
}

.content .navigation ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1em;
}

.content .navigation ul li:first-child {
    border-left: 0;
}

.content .navigation ul li {
    padding-left: 0;
    border-left: solid 1px #ffffff;
    width: 100%;
    text-align: center;
}

.content .navigation ul li:hover {
    background-color: rgba(255, 255, 255, 0.075);
    cursor: pointer;
}

.content .navigation ul li a {
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;   
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 0;
    color: #fff;
}

.content .navigation {
    border-left: 0px solid;
    border-right: 0px solid;
    border-top: 0px solid;
    border-bottom: 0px solid;
}

.nav-container {
    border: 0px solid;
}

.nav-container a {
    color: #fff;
}

.nav-container a:hover {
    color: #fff;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
    color: #fff;
}

a.special:not(.button) {
    text-decoration: none;
    border-bottom: 0;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    color: #fff;
}

a.special:not(.button):hover:before {
    background-color: rgba(255, 255, 255, 0.025);
}

a.special:not(.button):before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    content: '\f105';
    display: inline-block;
    font-size: 1.25em;
    height: 2em;
    line-height: 1.65em;
    margin-right: 0.85em;
    text-align: center;
    text-indent: 0.15em;
    vertical-align: middle;
    width: 2em;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    
}

article {
    padding: 1.75em 1.75em 0.1em 1.75em;
    background-color: #353849;
    border-radius: 5px;
    margin: auto auto 20px auto;
    width: 90%;
}

article .image {
    border-radius: 5px 5px 0 0;
    display: block;
    margin-bottom: 1.75em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    position: relative;
    width: calc(100% + 3.5em);
}

article .image img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    display: block;
}

article a {
    border-bottom: none;
}

h3.project-title {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 1.5em;
}

/*Sections------------------------------------------------------------------------------------*/

#section-1 {
    height: 100vh;
    min-height: 700px;
}

#section-1, #section-2, #section-3, #section-4, #section-5 {
    padding-top: 4rem;
}

#section-2, #section-4 {
    background-color: #2e3141;
    position: relative;
}

#section-2 .inner, #section-3 .inner, #section-4.inner {
    margin-bottom: 8rem;
}

#section-2:before, #section-4:before {
    
    box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141;'/%3E%3C/svg%3E");
    left: 0;
    top: -6.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
}

#section-4:after {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: -6.5em;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141;'/%3E%3C/svg%3E");
}

#section-2 h1, #section-3 h1, #section-4 h1, #section-5 h1 {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

#section-2 .inner p, #section-4 .inner p {
    text-align: left;
    text-transform: none;
}

#section-3 {
    background-color: #3f4e85;
    position: relative;
}

#section-3:before {
    box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85;'/%3E%3C/svg%3E");
    transform: scaleX(-1);
    left: 0;
    top: -6.5em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 6.5em;
    position: absolute;
    width: 100%;

}

#section-3 .inner p {
    text-align: right;
    text-transform: none;
}


/*Form----------------------------------------------------------------------------------------*/
.inner form {
    margin: 0 3em 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
    box-sizing: inherit;
}

form > .fields {
    width: 100%;
}

form > .fields > .field {
    padding: 1.5em 0 0 1.5em;
}

form label {
    color: #ffffff;
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 0.7em 0;
    text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"], select {
    height: 2.75em;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="tel"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: none;
    border: solid 2px rgba(255, 255, 255, 0.125);
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    color: #fff;
}

input[type="submit"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 25px;
    margin-left: 1.8em;
}

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

ul.contact {
    list-style: none;
    padding: 1.5em 0 0 1.5em;
    margin: 0 0 2em 0;
}

ul.contact li:first-child {
    margin-top: 0;
}

ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
    position: relative;
    color: #fff;
}

ul.contact li:before {
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    display: inline-block;
    font-size: 0.8em;
    height: 2.5em;
    left: 0;
    line-height: 2.35em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.inner.contact {
    border-radius: 5px 20px 5px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 5px 8px 10px #000000;
    padding: 20px;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.modal-content {
    color: rgb(220,220,220);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px 20px 5px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 5px 8px 10px #000000;
    padding: 20px;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.modal-content button {
    width: 100%;
    text-align: center;
    margin-left: 0;
}

.modal-content button:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

#pathfound-active-video video {
    width: 100%;
    margin-top: 15px;
}

#pathfound-additional-info {
    overflow-y: auto;
}

#submit-link {
    border-bottom: none;
}

/*Utility-------------------------------------------------------------------------------------*/

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*Animations----------------------------------------------------------------------------------*/

.content, .logo {
    max-height: 0;
    transition: all 0.35s ease-out;
    overflow: hidden;
    opacity: 0;
}

.content.active, .logo.active {
    max-height: 500px;
    transition: all 0.35s ease-in;
    overflow: visible;
    opacity: 1;
}

#pathfound-active-video, #pathfound-features {
    transition: all 0.35s ease-in;
    max-height: 0;
    display: none;
}

#pathfound-active-video.expanded, #pathfound-features.expanded { 
    max-height: 100%;
    max-width: 100%;
    display: block;
}



/*Breakpoints----------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    
    .wrapper {
        height: 100%;
    }
    
    #section-1 {
        height: 100%;
        padding-bottom: 200px;
    }
    
    .content .navigation ul {
        display: block;
    }
    
    .content .navigation ul li {
        width: 100%;
        display: inline-block;
        border-left: solid 0 #ffffff;
        border-bottom: solid 1px #ffffff;
    }
    
    .inner .row {
        padding: 15px;
    }
    
    #section-2 .inner p, #section-3 .inner p,  #section-4 .inner p {
        text-align: center;
        text-transform: none;
    }
    
    .inner .skill-row .skill-col {
    border: none;
    }
}

@media only screen and (max-width: 991px) {
    .inner .skill-row .skill-col {
        border: none;
    }
}